---
layout: default
---

    {% for post in paginator.posts %}
        <h1><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h1>
        <div class="postitem">
          {% for tag in post.tags %}
            <code class="posttag"><a href="/tags/#{{ tag | replace: " " , "-" | downcase }}" class="no-decoration">{{ tag | xml_escape }}</a></code>
          {% endfor %}
        </div>
       <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
       <br>
        <p style="font-style:italic;color:#606a26;text-align:left;margin-block:0em;font-family:none;padding-inline:0px;">{{ post.content | strip_html | truncatewords:50 }}</p>
    {% endfor %}
