<ul>
  {% if site.social.hackthebox %}
    <li class="social-media-list">
      <a title="Hack The Box Profile" href="https://app.hackthebox.com/profile/{{ site.social.hackthebox }}"><img src="https://www.hackthebox.eu/badge/image/{{ site.social.hackthebox }}" alt="Hack The Box"></a>
    </li>
  {% endif %}

  {% if site.social.tryhackme %}
    <li class="social-media-list">
      <a title="TryHackMe Profile" href="https://tryhackme.com/p/{{ site.social.tryhackme }}"><img src="https://tryhackme-badges.s3.amazonaws.com/{{ site.social.tryhackme }}.png" alt="TryHackMe"></a>
    </li>
  {% endif %}
</ul>

