

<td colspan="2">
  <div class="spacer" style="text-align: center;">
  <marquee direction="left" scrollamount="5"><map name="noaimini7"> <area href="https://baccyflap.com/noai" shape="rect" coords="15,3,72,27" target="_blank" alt="no ai webring" title="no ai webring"> <area href="https://baccyflap.com/noai/?prv&s=cat" target="_top" shape="rect" coords="3,6,12,27" alt="previous" title="previous"> <area href="https://baccyflap.com/noai/?nxt&s=cat" target="_top" shape="rect" coords="75,6,84,27" alt="next" title="next">
  </map> <img usemap="#noaimini7" src="https://baccyflap.com/noai/miniwidget7.gif" alt="a green-on-black grid with illuminated parts that spell out NO AI / WEBRING and two animated green arrows pointing left and right, bobbing up and down"><img src="/assets/images/blinkies/Neopage.gif" alt="Neo Hacker"> <img src="/assets/images/blinkies/Written-By-Human-Not-By-AI-Badge-black.png" alt="Not by AI" attributionsrc="https://notbyai.fyi/"></marquee>  
  </div>
</td>
</tr>