<footer class="site-footer">
  <div class="row">
    <div class="footer-wrapper">
      <div class="footer-col-social col-5 col-s-4">
        {% include social.html %}
      </div>
      <div class="footer-col-badges col-3 col-s-5">
        {% include badges.html %}
      </div>
      <div class="footer-col-copyright col-10 col-s-10">
        <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
          <span>
              <b>{{ site.owner}}</b>
          </span>
          {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
          <span>© {{ currentyear }}</span>
        </a>
      </div>
    </div>
  </div>
</footer>
