<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">whoami</h2></a>
<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">All </h2></a>
<a href="{{ "/blog/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Blog</h2></a>
<a href="{{ "/links/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Links</h2></a>
<a href="{{ "/tags/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Tags</h2></a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Contact</h2></a>
<a href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="{{ "https://github.com/CamoCatX/camocatx.github.io" }}"><h2 target="_blank" rel="noopener" class="header-link">Source</h2></a>
