<a href="{{ "/whoami" | prepend: site.baseurl | replace: '//', '/' }}">whoami</a>
<a href="{{ "/links/" | prepend: site.baseurl | replace: '//', '/' }}">Links</a>
<a href="{{ "/tags/" | prepend: site.baseurl | replace: '//', '/' }}">Tags</a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}">Contact</a>
<a href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/' }}">RSS</a>
<a href="https://github.com/CamoCatX/camocatx.github.io" target="_blank" rel="noopener no-referrer">Source</a>
<a href="{{ "/affiliates" | prepend: site.baseurl | replace: '//', '/' }}">Affiliates</a>
