<ul>
  {% if site.social.email %}
    <li class="social-media-list">
      <a href="mailto:{{ site.social.email }}"><span class="icon">{% include icon-email.svg %}</span><span>{{ site.social.email }}</span></a>
    </li>
  {% endif %}

  {% if site.social.github %}
  <li class="social-media-list">
    <a href="https://github.com/{{ site.social.github }}"><span class="icon">{% include icon-github.svg %}</span><span>{{ site.social.githubname }}</span></a>
  </li>
  {% endif %}

  {% if site.social.twitter %}
  <li class="social-media-list">
    <a href="https://twitter.com/{{ site.social.twitter }}"><span class="icon">{% include icon-twitter.svg %}</span><span>{{ site.social.twittername }}</span></a>
  </li>
  {% endif %}

  {% if site.social.linkedin %}
    <li class="social-media-list">
      <a href="https://linkedin.com/in/{{ site.social.linkedin }}"><span class="icon">{% include icon-linkedin.svg %}</span><span>{{ site.social.linkedin }}</span></a>
    </li>
  {% endif %}

  <!--{% if site.social.discordserver %}
    <li class="social-media-list">
      <a href="https://discord.gg/{{ site.social.discordserver }}"><span class="icon">{% include icon-discord.svg %}</span><span>{{ site.social.discordservername }}</span></a>
    </li>
  {% elsif site.social.discorduser %}
    <li class="social-media-list">
      <span class="icon">{% include icon-discord.svg %}</span><span>{{ site.social.discorduser }}</span>
    </li>
  {% endif %}-->

  {% if site.social.pgpkey %}
    <li class="social-media-list">
      <a href="/assets/{{ site.social.pgpkey }}.txt"><span class="icon">{% include icon-pgp.svg %}</span><span>pgp key</span></a>
    </li>
  {% endif %}

  <li class="social-media-list">
    <a href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/' }}"><span class="icon-nofill">{% include icon-rss.svg %}</span><span>rss</span></a>
  </li>
</ul>
