<ul>
  {% if site.social.email %}
    <li class="social-media-list">
      <a title="Email Address" href="mailto:{{ site.social.email }}" target="_blank" rel="noopener noreferrer"><span class="icon">{% include icon-email.svg %}</span><span>{{ site.social.email }}</span></a>
    </li>
  {% endif %}

  {% if site.social.github %}
    <li class="social-media-list">
      <a title="GitHub Profile" href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener noreferrer"><span class="icon">{% include icon-github.svg %}</span><span>{{ site.social.githubname }}</span></a>
    </li>
  {% endif %}


  {% if site.social.linkedin %}
    <li class="social-media-list">
      <a title="LinkedIn Profile" href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener noreferrer"><span class="icon">{% include icon-linkedin.svg %}</span><span>{{ site.social.linkedin }}</span></a>
    </li>
  {% endif %}


  <!--{% if site.social.discordserver %}
    <li class="social-media-list">
      <a title="Discord Server" href="https://discord.gg/{{ site.social.discordserver }}"><span class="icon">{% include icon-discord.svg %}</span><span>{{ site.social.discordservername }}</span></a>
    </li>
  {% elsif site.social.discorduser %}
    <li class="social-media-list">
      <span class="icon">{% include icon-discord.svg %}</span><span>{{ site.social.discorduser }}</span>
    </li>
  {% endif %}-->


  <li class="social-media-list">
    <a title="RSS Feed" href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/' }}"><span class="icon-nofill">{% include icon-rss.svg %}</span><span>rss</span></a>
  </li>
</ul>
