/*
   original: https://github.com/pages-themes/hacker
*/

@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

// Devices

//$desktop: 768px;
$desktop: 840px;
$tablet: 600px;

//

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    body.ie9up, .ie9up .page-content {
    display: block;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $body-background // url("../assets/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1, "onum" 1;
     -moz-font-feature-settings: "kern" 1, "onum" 1;
       -o-font-feature-settings: "kern" 1, "onum" 1;
          font-feature-settings: "kern" 1, "onum" 1;
  font-kerning: normal;
  word-wrap: break-word;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}


section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 7px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px;
  margin: 0 0 40px 0;
}

.header-links {
  text-align: center;
}

.header-link {
  display: inline;
}

header h1 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  //text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: capitalize;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../assets/bullet.png');
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}


/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

/* Clearfix (10052021 Commented Out)

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
*/

// Responsive Mobile First (10052021 Added)

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  //padding: 15px;
}

@media only screen and (min-width: $tablet) {
  /* For tablets: */
  .col-s-1 {width: 10%;}
  .col-s-2 {width: 20%;}
  .col-s-3 {width: 30%;}
  .col-s-4 {width: 40%;}
  .col-s-5 {width: 50%;}
  .col-s-6 {width: 60%;}
  .col-s-7 {width: 70%;}
  .col-s-8 {width: 80%;}
  .col-s-9 {width: 90%;}
  .col-s-10 {width: 100%;}
}
@media only screen and (min-width: $desktop) {
  /* For desktop: */
  .col-1 {width: 10%;}
  .col-2 {width: 20%;}
  .col-3 {width: 30%;}
  .col-4 {width: 40%;}
  .col-5 {width: 50%;}
  .col-6 {width: 60%;}
  .col-7 {width: 70%;}
  .col-8 {width: 80%;}
  .col-9 {width: 90%;}
  .col-10 {width: 100%;}
}

// Footer (10052021 Edited, Some new classes are added.)

/* Make footer stick to bottom */
/*footer {
  height: 100px;
  line-height: 50px;
  text-align: center;
  border-top: 1px dashed $dove-grey;
}*/

.site-footer {
  //height: 0px;
  //line-height: 0px;
  border-top: 1px dashed $dove-grey;
}

.footer-wrapper{
  @extend .container;
}

/*
.footer-col {
  text-align: center;
  font-size: 15px;
  float: left;
  padding-left: 10px;
  //margin-bottom:
}*/

.footer-col-social {
  text-align: left;
  font-size: 14px;
  float: left;
  //padding-left: 10px;
  //margin-bottom:
}

.footer-col-badges {
  text-align: center;
  font-size: 14px;
  float: right;
  //padding-left: 10px;
  margin-bottom: 20px;
}

.footer-col-copyright {
  text-align: center;
  font-size: 15px;
  float: left;
  //padding-top: 10px;
  margin-bottom: 8px;
}

.social-media-list {
  list-style: none;
  //margin-left: 0;
  margin-bottom: 2px;
}

// End of Footer (classes)

.pagination {
  //height: 50px;
  //line-height: 50px;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 13px;
}

/*
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $silver-chalice; //#009423
        }
    }
}

.icon-nofill {
  > svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
  }
}

.icon-small {
  @extend .icon;
  > svg {
      width: 12px;
      height: 12px;
  }
  margin: 0 0 0 5px;
}

.no-decoration {
  text-decoration: none;
  color: #999;
  /*&:hover {
    text-decoration: underline;
  }*/
}

#wrapper {
  min-height: calc(100vh - 100px);
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code.posttag{
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  border-radius: 2px;
}

.postitem {
  @extend h6;
}

.tags {
  margin: 0 0 -15px;
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  font-size: 24px;
}

// Footnotes ( 09102022 Added )

.font {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  letter-spacing: -0.03em;
  font-size: 12px;
  margin: 0 0 5px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

.footnotes {
  @extend .font;
  color:  #999;
}

.footnote {
  @extend .font;
  color:  #63c0f5;
  text-decoration: none;
}

a.footnote:before {
 content: "[";
}

a.footnote:after {
    content: "]";
}

:target {
  //border:#151515 solid 1px;
  //box-shadow:0 0 0 .1em #666;
  background: rgba(92,92,92,0.2);
  border-radius:.3em;
  padding:.3em;
  transition: background-color 0.5s;
}

// End of Footnotes
